@import url("https://fonts.googleapis.com/cs2?family=Public+Sans8");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
 
html{
    height: 100%;
    scroll-behavior: smooth;
}
 
body{
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: #0e0e0e;
}

 /*HEADER*/
.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(49, 49, 49, 0.75);
    border-radius: 4px;
}
 
.header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 2;
}
 
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
}

a{
    text-decoration: none;
}

.nav-link{
    color: white;
}
 
.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 40px;
    display: flex;
}
 
.name{
    font-family: "Bad Script", cursive;
    padding-top: 5px;
}
 
#img-logo{
    height: 40px;
    padding-right: 30px; 
    display: flex;
}

ul{
    list-style: none;
}

.nav-menu{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-right: 20px;
    background-color: #000;
    position: fixed;
    top: 60px;
    width: 100%;
    height: auto;
    padding: 20px 0;
 
    left: 100%;
    transition: left 0.3s;
}
 
.nav-menu-link{
    font-size: 20px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
    border-radius: 3px;
    transition: 0.5s;
}

.nav-menu-link:hover{
    transition: 0.5s;
    color: rgb(255, 199, 125);
}
 
.nav-toggle{
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 40px;
    display: block;
    cursor: pointer;
}
 
.nav-menu_visible{
    left: 0;
}
 
.nav-toggle:focus:not(:focus-visible){
    outline: none;
}

/*SIDEBAR PRINCIPAL*/

.sidebar{
    grid-area: sidebar;
    overflow: hidden;
}

.apartado1{
    background-image: url(https://img.freepik.com/fotos-premium/copa-vino-mesa-madera-restaurante_111599-382.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    height: 35%;
}

.aviso{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.480);
    padding: 10px 0;
    height: 100%;
    line-height: 3;
}
 
.aviso h3 {
    color: hsl(28, 100%, 80%);
    margin: 30px 0;
    font-size: 30px;
}

.aviso p {
    font-family: "serif";
    color: #fff;
    letter-spacing: 2px;
}
 
.boton-reserva{
    color: #fff;
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    line-height: 5;
}
 
.boton-reserva:hover{
    color: rgb(255, 199, 125);
    transition: 0.5s;
}

.apartado2{
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
    background-color: #5a5a5a;
    color: #ffffff;
}

.apartado2, .apartado3{
    position: relative;
    height: 35%;
}

.apartado2 h2, .apartado3 h2{
    padding: 20px;
    text-align: center;
    font-family: serif;
}

.linea, .linea2{
    position:relative;
    border-bottom: #f2f2f2 solid 2px;
    width: 30%;
    left: 35%;
    margin-bottom: 20px;
}

.apartado2 h4{
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.5;
    opacity: 0;
}

.apartado2 p{
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.8;
    margin-bottom: 20px;
    opacity: 0;
}

.apartado2 iframe{
    height: 300px;
    width: 100%;
    position: absolute;
    margin: auto;
    padding: 10px;
    bottom: 5px;
}

.apartado3{
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 10px;
}

.apartado3 p{
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 2;
    margin-bottom: 5px;
}

hr{
    padding-left: 100%;
    margin: 10px 0;
}

/*SIDEBAR SECUNDARIO*/

#apartado1-sec{
    padding: 15px;
    height: 30%;
}

#aviso-sec{
    height: 100%;
    line-height: 1.8;
}
 
#boton-reserva-sec{
    margin-top: 60px;
}

/*ESTILOS PÁGINA INICIO*/
.main{
    grid-area: main;
    background-color: #3f3c38;
}

#inicio{
    padding: 20px 0;
}
 
#intro{
    text-align: center;
    padding-top: 10px;
}
 
.elH1 {
    color: hsl(0, 0%, 89%);
    margin-bottom: 20px;
    font-size: 20px;
}
#intro p {
    font-size: 12px;
    color: rgb(211, 211, 211);
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 2fr));/*en vez de autofill era 1*/
    grid-auto-rows: 200px;
    gap: 0;
    overflow: hidden;
}
 
.card1 {
    padding: 10px;
    justify-content: stretch;
    border-bottom: 1px #ffffff solid;
    border-top: 1px #ffffff solid;
    background-image: url(../img/comida.jpg);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.card1:nth-of-type(4){
    background-image: url(../img/comida2.jpg);
    background-size: 400px;
}

.card1:nth-of-type(5){
    background-image: url(../img/comida3.avif);
}

.card1:nth-of-type(8){
    background-image: url(../img/comida4.jpg);
}

.card1:nth-of-type(9){
    background-image: url(../img/card_reserva.jpg);
}

.card1:nth-of-type(12){
    background-image: url(../img/card_nosotros.jpg);
    background-size: 400px;
}

.card2{
    background-color: #050505;
    border-bottom: 1px #ffffff solid;
    border-top: 1px #ffffff solid;
}

.card2 h2{
    color: #f2f2f2;
    margin-top: 50px;
    font-family: serif;
    font-size: 30px;
    animation: fade 3s ease-in-out;
}

.card-p-container {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-p-container > p > a{
    color: #fff;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    animation: fade 3s ease-in-out;
}

.card-p-container > p > a:hover{
    color: rgb(255, 199, 125);
}

/* El botón flotante */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #ffae00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-icon {
    width: 40px;
    height: 40px;
    padding-left: 5px;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: rgba(207, 207, 207, 0.377);
    color: #fff;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 30%;
    line-height: 1;
}

#registrationForm{
    line-height: 2.5;
}

#indexSubmitBtn{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #ffae00;
    cursor: pointer;
}

#indexSubmitBtn:hover{
    background-color: #ffc340;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*ESTILOS PÁGINA CARTA MENÚ COMIDAS*/
#menu {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fondo_menu.jpg);
}


#seccion-platos{
    width: 80%;
    margin-left: 20%;
    background-color: #222222ea;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color: #fff;
}

#menu h2 {
    font-family: serif;
    font-size: 24px;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

.carta-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #6e6e6e;
}

.carta-item:last-child {
    border-bottom: none;
}

.item-nombre {
    flex: 1;
}

.item-precio {
    font-weight: bold;
}

/*ESTILOS PÁGINA GALERÍA IMÁGENES*/
#galeria{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fondo_galeria.jpg);
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column-reverse;
}

.galeriaImagen{
    width: 100%;
    height: 300px;
}

.galeriaImagen > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#platos{
    margin-bottom: 50px;
}

#platos h2{
    font-family: serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 100px 0 30px 0;
    color: #fff;
}

#platos .fila{
    max-width: 1100px;
    margin: auto;
    display: block;
    justify-content: center;
}

#platos .fila .item{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

#platos .fila .item img{
    width: 100%;
    display: block;
}

#platos .fila .item p{
    position: absolute;
    width: 100%;
    bottom: -100%;
    padding: 10px;
    background-color: #505050;
    color: #ffffff;
    transition: .5s;
}

#platos .fila .item:hover p{
    bottom: 0;
}

/*ESTILOS PÁGINA EVENTOS Y CATERING*/
#eventos{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fondo_catering.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secciones{
    margin: 10em 0;
    padding: 2em 0;
    background-color: #000000e0;
    color: #fff;
}

.secciones>h2{
    text-align: center;
    padding: 20px 0;
    font-family: serif;
}

.secciones>p{
    text-align: center;
    letter-spacing: 3px;
    font-family: serif;
    padding: 10px;
}

.catering-container{
    display: inline;
    margin: 2em;
}
  
.catering{
    border: none;
    padding: 15px;
    text-align: center;
    margin: 20px;
}
  
.catering img{
    max-height: 30em;
    max-width: 100%;
    border-radius: 8px;
}
  
.catering h2{
    font-size: 24px;
    margin: 10px 0;
}
  
.catering p{
    font-size: 16px;
    text-align: justify;
    max-height: 60px;
}
  
.catering a{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: rgb(255, 199, 125);
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}
  
.catering a:hover{
    color: #fff;
}
.imgScroll{
    width: 100px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(255, 126, 126) 0%, rgba(0,0,0,0) 70%);
}

/*FORMULARIO DE CATERING*/
#contenedor-form{
    scroll-margin-top: 5ex;
    max-width: 800px;
    margin: 0 auto;
}

.myFieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border: none;
}

.h2Form{
    margin-top: 3em;
    text-align: center;
    color: #000;
    padding: 10px;
    background-color: rgb(255, 199, 125);
    display: block;
}

.column {
    flex-basis: calc(50% - 10px);
}

label {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="date"],
input[type="time"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.submitBtn{
    background-color: rgb(255, 199, 125);
    color: #000;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    color: #fff;
}
/*ESTILOS PÁGINA BLOG*/
#blog{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fondo_blog.jpg);
    overflow: hidden;
}

.blog-container{
    margin: 25px;
    background-color: #0000009c;
    font-family: serif;
    color: #fff;
}

.item-blog{
    margin: 20px 0;
    padding: 20px;
}

.item-blog img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    filter: brightness(50%);
    transition: 1s;
}

.item-blog img:hover{
    filter: brightness(100%);
    transition: 1s;
}

.item-blog h2{
    color: rgb(255, 199, 125);
    text-align: center;
} 

.item-blog h4{
    margin: 20px 0;
}

#container-receta{
    justify-self:start;
} 

#container-receta ul{
    text-indent: 20px;
}

#container-consejo{
    justify-self: end;
}

#container-consejo h4{
    text-align: center;
}

#container-cata{
    justify-self:start;
    text-align: end;
}

#container-especial{
    justify-self:end;
}

#container-fiestas{
    justify-self:start;
}

#container-fiestas p{
    letter-spacing: 2px;
}

/*ESTILOS PÁGINA NOSOTROS*/
#nosotros{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fondo_nosotros.jpg);
}

.nosotros-contenedor{
    display: inline-block;
    background-color: #000000b6;
    color: #fff;
    font-family: serif;
    margin: 1em;
    padding: 10px;
}

.nosotros-contenedor > h2{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 10px;
}

.subrayado{
    border: 1px solid #fff;
    margin-bottom: 2em;
}

.nosotros-contenedor > p{
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 15px;
}

/*SECCION RESEÑAS*/

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading{
    letter-spacing: 1px;
    margin: 10em 0 10px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5em;
}

.testimonial.box{
    margin: 15px;
    cursor: pointer;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.reviews{
    color: #f9d71c;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em 0 20px 0;
}

.client-comment p{
    font-size: 0.9rem;
    color: #d8d8d8;
}

.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

/*FOOTER*/
.footer{
    grid-area: footer;
    background-color: #2a2a2a;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-foot{
    height: 100px;
    margin-bottom: 1rem;
    padding: 0 50%;
}

.contenedor-iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.icono-redes{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.icono-redes:hover{
    background-color: #121212;
    filter: invert(1);
}

.icono-redes:nth-of-type(2){
    background-image: url(../img/instagram.png);
    background-size: 50%;
}

.icono-redes:nth-of-type(3){
    background-image: url(../img/linkedin.png);
    background-size: 40%;
}

.icono-redes:nth-of-type(4){
    background-image: url(../img/twitter.png);
    background-size: 40%;
}

.contenedor-menu{
    list-style-type: none;
    color:#f2f2f2;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color:#f2f2f2;
    opacity: 0.3;
    text-align: center;
}
 
.grid-container, .grid-container-index{
    display: grid;
    gap: 10px;
    grid-template:
        "header"  100px
        "main"    auto
        "sidebar" 1135px
        "footer"  500px;
}

/*ANIMACIONES*/
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        color: rgb(255, 199, 125);
    }

    100% {
        opacity: 1;
    }
}
 


/*MEDIDAS DE TABLET*/
@media (min-width: 768px){ 
    .nav-toggle{
        display: none;
    }
 
    .logo{
        line-height: 80px;
    }
 
    .name{
        width: max-content;
        margin-left: 0;
        font-size: 40px;
    }
 
    #img-logo{
        height: 80px;
    }

    .nav-menu{
        flex-direction: initial;
        margin-right: 40px;
        align-items: initial;
        position: initial;
        padding-top: 10px ;
        left: 0;
        justify-content: end;
    } 
    
    .nav-menu-link{
        padding: 8px 8px;
        border-radius: 3px;
        transition: 0.5s;
        color: rgb(255, 255, 255);
        margin: 0px;
        transition: 0.5s;
        font-size: 14px;
    }

    .nav-menu-link:hover  {
        color: rgb(255, 199, 125);
        border: none;
            }
    

    /*SIDEBAR PRINCIPAL*/
    #apartado1-index{
        padding: 20px;
        height: 30%;
        line-height: 2;
    }
 
    .aviso{
        text-align: center;
        padding: 20px 0;
        height: 100%;
        line-height: 2;
    }
 
    .aviso h3 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    #aviso-index p {
        line-height: 2;
    }

    #boton-reserva-index{
        line-height: 3;
        font-size: 20px;
    }
    
    .apartado2 h4, .apartado2 p{
        opacity: 1;
    }

    hr{
        width: 6em;
    }

    /*SIDEBAR SECUNDARIO*/
    #sidebar-sec{
        display: flex;
        justify-content: space-around;
    }

    #apartado1-sec{
        padding: 30px;
        line-height: 3;
        height: 100%;
    }
     
    #aviso-sec{
        padding: 20px 10px;
        line-height: 3;
    }
 
    #aviso-sec h3 {
        line-height: 2;
        letter-spacing: 3px;
    }

    #aviso-sec p {
        line-height: 3;
    }
    
    #apartado1-sec, #apartado2-sec, #apartado3-sec{
        width: 33%;
    }

    #apartado2-sec, #apartado3-sec{
        height: 100%;
    }

    #apartado3-sec hr{
        left: 32%;
    }

    #apartado3-sec > p{
        line-height: 2.8;
    }

    .card1{
        background-size: 400px;
    }

    /*GALERIA*/
    .contenido-slider{
        flex-direction: inherit;
    }

    .galeriaImagen{
        width: 50%;
    }

    #platos .fila{
        display: flex;
    }
        
    #platos .fila .item{
        display: flex;
        width: 33%;
    }

    /*EVENTOS Y CATERING*/
    #eventos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catering-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        margin: 2em;
    }
      
    .catering {
        width: calc(50% - 40px); 
        border: none;
        padding: 15px;
        text-align: center;
        margin: 20px;
    }

    .catering img{
        height: 10em;
        width: 100%;
    }

    .catering p{
        padding-bottom: 150px;
    }

    /*FORM*/
    #contenedor-form{
        scroll-margin-top: 10ex;
    }

    /*BLOG*/
    .item-blog img{
        height: 300px;
    }

    .item-blog h2{
        text-align: inherit;
    } 

    /*NOSOTROS*/
    .nosotros-contenedor{
        margin: 6em 5em;
        padding: 30px;
    }

    .nosotros-contenedor > p{
        text-align: center;
        line-height: 3;
        letter-spacing: 2px;
        font-size: 20px;
    }

    .grid-container-index{
        grid-template:  
        "header  header" 100px
        "sidebar main"   auto
        "footer  footer" auto /
        200px    auto;
    }

    .grid-container{
        grid-template:  
        "header"  100px
        "main"    auto
        "sidebar" 500px
        "footer"  auto;
    }
 
}   
 
/*MEDIDAS DE ESCRITORIO*/ 
@media (min-width: 1024px){
    .grid-container-index{
        grid-template:
        "header   header  header"  100px
        "main     main    sidebar" auto
        "footer   footer  footer"  auto /
        200px     auto    400px;
    }

    .grid-container{
        grid-template:
        "header"  100px
        "main"    auto
        "sidebar" 500px
        "footer"  auto;
    }
 
    .name{
        font-size: 50px;
    }
 
    #img-logo{
        margin-left: 5px;
    }
    .nav-menu-link{
        padding: 8px 10px;
        font-size: 20px;
    }
    .apartado1{
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #apartado1-index{
        padding-bottom: 20px;
        height: 600px;
    }

    .aviso{
        text-align: center;
    }
 
    #aviso-index h3 {
        margin-bottom: 50px;
        font-size: 50px;
    }

    #aviso-index p {
        margin-bottom: 30px;
        letter-spacing: 5px;
    }

    #boton-reserva-index{
        line-height: 3;
        font-size: 30px;
    }

    #apartado2-index h4{
        padding: 20px;
    }

    .apartado2 iframe{
        height: 450px;
    }
    
    .apartado3{
        padding-top: 20px;
    }

    .apartado3 p {
        margin-bottom: 20px;
    }

    #apartado3-index p{
        line-height: 5;
    }
    
    hr{
        width: 8em;
    }

    .card-container {
        grid-auto-rows: 300px;
    }

    .card1, .card1:nth-of-type(4), .card1:nth-of-type(12){
        background-size: 100%;
    }

    .card2 h2{
        padding-top: 50px;
        font-size: 40px;
    }

    /*SIDEBAR SECUNDARIO*/
    #sidebar-sec{
        justify-content: flex-start;
    }

    #apartado1-sec{
        height: 500px;
        width: 20%;
        padding: 20px;
    }

    #aviso-sec{
        padding: 30px 0;
        height: 95%;
    }

    #aviso-sec h3 {
        margin-bottom: 10px;
        font-size: 60px;
    }

    #aviso-sec p {
        letter-spacing: 5px;
        line-height: 1.5;
    }

    #apartado2-sec{
        width: 60%;
    }

    #apartado2-sec iframe{
        padding-top: 20px;
    }
    
    #apartado3-sec{
        width: 20%;
    }

    #apartado3-sec p {
        line-height: 3;
    }

    /*GALERIA*/
    .contenido-slider{
        height: 500px;
    }

    .galeriaImagen{
        height: 500px;
    }

    #seccion-platos{
        width: 60%;
    }

    /*EVENTOS Y CATERING*/
    .catering{
        width: calc(33.33% - 40px); /* El 40px es para tener en cuenta los márgenes. */
    }

    .catering p{
        padding: 1em 0 8em 0;
    }

    .catering a{
        display: inline-block;
        margin-top: 20px;
    }

    .catering img{
        height: 15em;
    }

    /*FORM*/
    #contenedor-form{
        scroll-margin-top: 15ex;
        max-width: 1000px;
    }

    /*BLOG*/
    .blog-container{
        margin: 5em 10em;
        display: grid;
    }
    
    .item-blog{
        margin: 50px 0;
        padding: 50px;
    }
    
    .item-blog h2{
        text-align: inherit;
    }
    
    #container-receta{
        width: 90%;
    }
    
    #container-receta img{
        width: 500px;
        height: 650px;
        float: right;
        margin-top: 20px;
    }
    
    #container-consejo{
        width: 75%;
    }
    
    #container-cata{
        width: 85%;
    }
    
    #container-cata img{
        width: 500px;
        height: 650px;
        float: left;
        margin-right: 50px;
    }
    
    #container-especial{
        width: 85%;
    }
    
    #container-especial img{
        width: 500px;
        height: 800px;
        margin-top: 45px;
        float: right;
    }
    
    #container-fiestas{
        width: 80%;
    }
    
    #container-fiestas img{
        width: 600px;
        height: 350px;
        float: left;
        margin-right: 50px;
    }

    /*FOOTER*/
    .logo-foot{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
